.btn-danger {
    color: #FFF !important;
    background-color: #D9534F !important;
    border-color: #D43F3A !important;
}
/*.ui-widget-content {
    color: #FFF !important;
    background-color: #D9534F !important;
    border-color: #D43F3A !important;
}
*/